[submodule "third_party/Eigen"]
	path = third_party/Eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2/