[submodule "third_party/enoki"]
	path = third_party/enoki
	url = https://github.com/mitsuba-renderer/enoki
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "third_party/pcg-cpp"]
	path = third_party/pcg-cpp
	url = https://github.com/imneme/pcg-cpp
[submodule "third_party/oidn"]
	path = third_party/oidn
	url = https://github.com/OpenImageDenoise/oidn.git
